@import "../Constants/constant.scss";
@import "../Constants/reUsable.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13rem 1rem 1rem 1rem; /*To make popup with big content fit in the screen with scroll*/
  z-index: $Z-Modal;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  overflow: scroll;
}

.active--modal {
  opacity: 1;
  visibility: visible;
}

.modal__content {
  position: relative;
  background-color: $container-color;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.modal--ul {
  row-gap: 1rem;
}

.modal--li {
  display: flex;
}

.modal__title {
  font-size: $h3-font-size;
  font-weight: $font-medium;
  margin-bottom: $mb-1-5;
  margin-right: $mb-2;
}

.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: $first-color;
  cursor: pointer;
}

.modal__icon {
  color: $first-color;
  margin-right: $mb-0-25;
}
